MPC Tools/Tools/🔧 Tools _ STORE ITEM ADD.json
{
  "name": "🔧 Tools | STORE ITEM ADD",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Product Catalog",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "has_add",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        272
      ],
      "id": "8b9f656e-05e6-4921-b423-b21463c332f5",
      "name": "getData",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        240
      ],
      "id": "45f9358d-34b8-4efd-be5c-b60f50a5bde7",
      "name": "foreach"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        272
      ],
      "id": "4b1c66cd-f314-42d2-97bb-7d6839f0aa68",
      "name": "embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "xDAt2NZg77gJsoYW",
          "name": "Gemini(PaLM) Api"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_store_vector",
          "mode": "list",
          "cachedResultName": "documents_store_vector"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        112
      ],
      "id": "485f8b18-5c7b-46b5-98bb-d5b7b9b9fad9",
      "name": "RAG Vector",
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('jsonFormat').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tag",
                "value": "={{ $('jsonFormat').item.json.metadata.tag }}"
              },
              {
                "name": "categorias",
                "value": "={{ $('jsonFormat').item.json.metadata.categorias }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        912,
        272
      ],
      "id": "abf425dc-f414-4d65-8402-afd03be2d600",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "const jsonData = $('foreach').first().json;\n\nconst item = {\n  id: jsonData.id,\n  content: `${jsonData.tag}: ${jsonData.descricao}`,\n  metadata: {\n    tag: jsonData.tag,\n    categorias: jsonData.categorias\n  }\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        240
      ],
      "id": "35b2e8b6-7818-4cb4-a780-c8ea5fd4b066",
      "name": "jsonFormat"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        416
      ],
      "id": "6771d965-7d1e-4ad7-8bc0-b3f82ba9356c",
      "name": "splitter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Product Catalog",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('jsonFormat').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "has_add",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        416
      ],
      "id": "032805f7-f9b0-4c3b-a61c-0d7ed790c69f",
      "name": "markAsADD",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      },
      "notes": "Marca o Item da loja como adicionado"
    },
    {
      "parameters": {
        "content": "## ⭐ Função de Debug",
        "height": 288,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -336
      ],
      "id": "465d3c98-737a-4c43-aca7-6b1e1070f76b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const count = $input.all().length;\n\nconst log = `Um total de ${count} itens foram adicionados.`;\n\nreturn { log: log };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -240
      ],
      "id": "b8f487d7-2549-414a-9964-21e0f637eabb",
      "name": "debug"
    },
    {
      "parameters": {
        "tableId": "Debug",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "system_message",
              "fieldValue": "Novo Item da loja Adicionado"
            },
            {
              "fieldId": "log",
              "fieldValue": "={{ $json.log }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        -240
      ],
      "id": "c98358cb-5bb7-4668-a14a-556c4d8391ad",
      "name": "logRegister",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ✨ Organizando Dados",
        "height": 304,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        144
      ],
      "id": "e9288c04-e075-4165-9e6a-d998540f0608",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ♾️ Loop Para Cada Item da Loja",
        "height": 640,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -16
      ],
      "id": "23a59bdc-9ca6-4af4-90e8-0177000843fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ⭐ Registrar no Banco de Dados",
        "height": 496,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        48
      ],
      "id": "f374eab2-03ef-49ac-a310-248cd5010c71",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        272
      ],
      "id": "01978d80-ab25-4164-8ab5-2c2924ce306c",
      "name": "schedule",
      "notesInFlow": true,
      "notes": "Todos os dias meia noite"
    }
  ],
  "pinData": {},
  "connections": {
    "getData": {
      "main": [
        [
          {
            "node": "foreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foreach": {
      "main": [
        [
          {
            "node": "debug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "jsonFormat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddings": {
      "ai_embedding": [
        [
          {
            "node": "RAG Vector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "RAG Vector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "jsonFormat": {
      "main": [
        [
          {
            "node": "RAG Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "RAG Vector": {
      "main": [
        [
          {
            "node": "markAsADD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markAsADD": {
      "main": [
        [
          {
            "node": "foreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "debug": {
      "main": [
        [
          {
            "node": "logRegister",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schedule": {
      "main": [
        [
          {
            "node": "getData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87157d35-cdc0-4fdd-b189-9fc0ae6d3cbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "0PdasCOl9XrT7uCf",
  "tags": []
}