MPC Tools/Tools/🔧 Tools _ RAG ADD.json
{
  "name": "🔧 Tools | RAG ADD",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        608
      ],
      "id": "15a2223f-5831-42a8-930a-bfa663443a32",
      "name": "schedule",
      "notesInFlow": true,
      "notes": "Todos os dias meia noite"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        608
      ],
      "id": "e958c21d-0946-4d56-8ea5-ebe41258ef23",
      "name": "foreach",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst combinedText = \n`# Tipo: ${item.type}\n# Contexto: ${item.context}\n# Conteúdo: ${item.content}`;\n\nreturn [{ json: \n{\n  type: $input.first().json.type,\n  context: $input.first().json.context,\n  markdown: combinedText \n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        608
      ],
      "id": "7e2c974e-efd8-419a-b0de-4955335109c5",
      "name": "jsonToMarkdown"
    },
    {
      "parameters": {
        "content": "## ✨ Organizando Dados",
        "height": 368,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        480
      ],
      "id": "d4ec416b-89ca-4bc5-93d1-276c2788e1c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ♾️ Loop Para Cada FAQ",
        "height": 656,
        "width": 1312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        368
      ],
      "id": "d88ae1ee-c11c-4ddc-ae02-1c7bc916f6e4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ⭐ Estrutura de Dados",
        "height": 368,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        480
      ],
      "id": "cc07f9df-b9a5-4878-9895-883a0efa6402",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e24c173-ad57-4a78-aa6b-28379f0e334d",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c61086d4-0ca9-496c-a556-e96542061491",
              "name": "type",
              "value": "FAQ",
              "type": "string"
            },
            {
              "id": "2a49c954-102c-439b-9cd6-cac66bfa9e3f",
              "name": "context",
              "value": "={{ $json.contexto }}",
              "type": "string"
            },
            {
              "id": "322ef627-9781-41c0-9970-2a24d4a6fa6c",
              "name": "content",
              "value": "=Pergunta: {{ $json.pergunta }} Resposta: {{ $json.resposta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        608
      ],
      "id": "93cd706e-a12e-4ffa-833f-8cc66ed1363d",
      "name": "payload",
      "notesInFlow": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        704
      ],
      "id": "2836c538-eb5d-47d9-b996-5dd9bcee1da7",
      "name": "embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "xDAt2NZg77gJsoYW",
          "name": "Gemini(PaLM) Api"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.markdown }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-type",
                "value": "={{ $json.type }}"
              },
              {
                "name": "file-context",
                "value": "={{ $json.context }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1184,
        704
      ],
      "id": "8ea77e98-eaa5-40fb-bffa-c03fb96b6b1a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1168,
        848
      ],
      "id": "548fc8ad-24a2-418e-9fe0-887090c84a78",
      "name": "splitter"
    },
    {
      "parameters": {
        "content": "## ⭐ Registrar no Banco de Dados",
        "height": 496,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        480
      ],
      "id": "ecec0c18-32ab-4679-a74c-5c965372ba13",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## ⭐ Função de Debug",
        "height": 288,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        48
      ],
      "id": "186bc8cc-87eb-402e-abf4-32e4aeefe211",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const count = $input.all().length;\n\nconst log = `Um total de ${count} itens foram adicionados.`;\n\nreturn { log: log };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        144
      ],
      "id": "86e59e52-1a4c-4c32-abaf-a7f345bde24b",
      "name": "debug"
    },
    {
      "parameters": {
        "tableId": "Debug",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "system_message",
              "fieldValue": "Novo FAQ Adicionado"
            },
            {
              "fieldId": "log",
              "fieldValue": "={{ $json.log }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        144
      ],
      "id": "bd1cae0a-3292-4a99-aaf9-7dc4dde01c0f",
      "name": "logRegister",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "FAQs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('payload').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "add",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1536,
        816
      ],
      "id": "d7ac5301-d8aa-42d2-a946-2f1168454886",
      "name": "markAsADD",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      },
      "notes": "Marca o FAQ adicionado"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "FAQs",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "add",
              "condition": "is",
              "keyValue": "=false"
            },
            {
              "keyName": "etapa",
              "condition": "eq",
              "keyValue": "Verificado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        608
      ],
      "id": "67b48e69-98f4-4493-b968-d63ee3b62578",
      "name": "getNewFAQ",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_rag_vector",
          "mode": "list",
          "cachedResultName": "documents_rag_vector"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1136,
        544
      ],
      "id": "82d93b27-65ef-48f9-8efc-071a7c075431",
      "name": "RAG Vector",
      "credentials": {
        "supabaseApi": {
          "id": "pvSzMX1NSuLnku0e",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "schedule": {
      "main": [
        [
          {
            "node": "getNewFAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foreach": {
      "main": [
        [
          {
            "node": "debug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jsonToMarkdown": {
      "main": [
        [
          {
            "node": "RAG Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload": {
      "main": [
        [
          {
            "node": "jsonToMarkdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddings": {
      "ai_embedding": [
        [
          {
            "node": "RAG Vector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "RAG Vector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "debug": {
      "main": [
        [
          {
            "node": "logRegister",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markAsADD": {
      "main": [
        [
          {
            "node": "foreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getNewFAQ": {
      "main": [
        [
          {
            "node": "foreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Vector": {
      "main": [
        [
          {
            "node": "markAsADD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e85f733f-4bd0-4b81-8b27-01d4c31e81ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "B7ETcSdamlbtqTM0",
  "tags": []
}